---
layout: splash
---
<div class="page__hero--overlay" style=" background-image: url('https://hyebinnam.github.io/images/banner.jpeg');">
  
  <div class="wrapper">
    <h1 id="page-title" class="page__title" itemprop="headline">
        Layout: Header Image Overlay
    </h1>
      <p class="page__lead">This post should display a <strong>header with an overlay image</strong>, if the theme supports it.
</p>
<p class="page__meta">
    <span class="page__meta-readtime">
      <i class="far fa-clock" aria-hidden="true"></i>
        less than 1 minute read
    </span>
</p>
      <p>
      
        <a href="https://unsplash.com" class="btn btn--light-outline btn--large">Learn more</a>
      
    
  </p></div>


  <span class="page__hero-caption">Photo credit: <a href="https://unsplash.com"><strong>Unsplash</strong></a>
</span>

</div>


{{ content }}


<!--<img src="https://hyebinnam.github.io/images/main.jpeg">-->
<h2>
  이화랑 · 남혜빈
<br>
토요일 오전 11시
<br>
더채플앳청담
</h2>
<h3 class="archive__subtitle">Wedding Gallery</h3>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}

<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<figure class="third">
  
    
  <a href="https://hyebinnam.github.io/images/main1.jpg" title="청첩장 사진 1" class="image-popup">
      <img src="https://hyebinnam.github.io/images/main1.jpg" alt="청첩장 사진 1">
  </a>

  <a href="https://hyebinnam.github.io/images/main2.jpg" title="청첩장 사진 2" class="image-popup">
      <img src="https://hyebinnam.github.io/images/main2.jpg" alt="청첩장 사진 2">
  </a>

  <a href="https://hyebinnam.github.io/images/main3.jpg" title="청첩장 사진 3" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main3.jpg" alt="청첩장 사진 3">
  </a>

  <a href="https://hyebinnam.github.io/images/main4.jpg" title="청첩장 사진 4" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main4.jpg" alt="청첩장 사진 4">
  </a>

  <a href="https://hyebinnam.github.io/images/main5.jpg" title="청첩장 사진 5" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main5.jpg" alt="청첩장 사진 5">
  </a>

  <a href="https://hyebinnam.github.io/images/main6.jpg" title="청첩장 사진 6" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main6.jpg" alt="청첩장 사진 6">
  </a>

  <a href="https://hyebinnam.github.io/images/main7.jpg" title="청첩장 사진 7" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main7.jpg" alt="청첩장 사진 7">
  </a>

  <a href="https://hyebinnam.github.io/images/main8.jpg" title="청첩장 사진 8" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main8.jpg" alt="청첩장 사진 8">
  </a>

  <a href="https://hyebinnam.github.io/images/main9.jpg" title="청첩장 사진 9" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main9.jpg" alt="청첩장 사진 9">
  </a>

</figure>
{% include paginator.html %}
