---
layout: splash	
---

{{ content }}

<figure>
  <img src="https://hyebinnam.github.io/images/main.jpeg" alt="this is a placeholder image">
  <figcaption>This is a figure caption.</figcaption>
</figure>

<img src="https://hyebinnam.github.io/images/main.jpeg">
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}

<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<figure class="third">
  
    
  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 1" class="image-popup">
      <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 1">
  </a>

  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 2" class="image-popup">
      <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 2">
  </a>

  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 3" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 3">
  </a>

  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 4" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 4">
  </a>

  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 5" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 5">
  </a>

  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 6" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 6">
  </a>

  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 7" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 7">
  </a>

  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 8" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 8">
  </a>

  <a href="https://hyebinnam.github.io/images/main.jpeg" title="청첩장 사진 9" class="image-popup">
    <img src="https://hyebinnam.github.io/images/main.jpeg" alt="청첩장 사진 9">
  </a>

</figure>
{% include paginator.html %}
